.flex-container {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

room {
  background-color: #FF6200;
  width: 225px;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  color: white;
  box-shadow: 0 5px 10px 0 rgba(50,50,50,.4);
  height: 125px;
}


